@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div>
    <div class="indexbody">
        <h2>Welcome to Contoso University</h2>
        <h3>Where we help dreams become reality</h3>
        <h4>Enroll Now</h4>
        <p>
          <img class="firstImage, img, img-responsive" src="~/images/accomplishment-ceremony-education-graduation-267885.jpg" alt="graduation" />
        </p>
    </div>
  
</div>